# Basics
*.py[cod]
*.pyc
__pycache__

# Logs
*.log
pip-log.txt

# Translations
*.mo
*.pot

# Pycharm
.idea

# Vim
*~
*.swp
*.swo

# npm
node_modules/

# configuration template files
*.dist

config/local.py
config/production.py
